/* body {
    background-color: azure;
} */

.cloud {
    width: 100px;
}

.city {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 650px;
}

.lower{
    margin: 0px;
    padding: 175px;
    padding-bottom: 155px;
    background-color: blue;
}

.land{
    background-color: beige;
}

.weather{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}